.section-messages {
    .messages {
        overflow: hidden;
        min-height: 50vh;
    }
    .message {
        padding: 6px;
        border-radius: 10px;
        max-width: 80%;
        color: black;
        font-size: 14px;
        &.right {
            background-color: white;
            border-bottom-right-radius: 0;
            margin-left: auto;
            margin-right: 20px;
        }
        &.left {
            background-color: rgba(white, 0.8);
            border-bottom-left-radius: 0;
            margin-left: 20px;
            -webkit-backdrop-filter: blur(2px);
        }
        + .message {
            margin-top: 15px;
        }
        @media screen and (min-width: 1024px) {
            max-width: 50%;
            &.right {
                margin-right: 40px;
            }
            &.left {
                margin-left: 40px;
            }
        }
    }
}