.slide-messages {
    .messages {
        background-color: green;
        overflow: hidden;
        min-height: 40vh;
    }
    .message {
        &.right {
            background-color: red;
        }
        &.left {
            background-color: orange;
        }
    }
}