.modal {
    height: 100vh;
    display: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(black, 0.8);
    width: 100%;
    z-index: 99;
    p {
        max-width: 70%;
        text-align: center;
    }
    @media screen and (min-width: 1024px) {
        display: flex !important;
    }
}