hgroup {
    opacity: 0;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'lekton';

    h2{
        font-family: 'kufam';
        font-size: 2rem;
        text-transform: uppercase;
    }
    time {
        display: inline-block;
    }
}
