hgroup {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    h2{
      font-family: 'kufam-regular';
      font-size: 2rem;
      text-transform: uppercase;
    }
    time {
        display: inline-block;
    }
}
