@font-face {
  font-family: "kufam-regular";
  src: url('/fonts/Kufam/kufam-regular.ttf') format('truetype');
}
@font-face {
  font-family: "kufam-regular-italic";
  src: url('/fonts/Kufam/kufam-regular-italic.ttf') format('truetype');
}
