*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: white;

}
html {
  background: #1e1a20;
}

section {
  height: 100vh;
  position: relative;
  z-index: 9;
}
