*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  overscroll-behavior-y: none;
  @media screen and (min-width: 1024px) {
      overflow: hidden;
  }
}
html {
  background: rgb(186,193,208);
  background: linear-gradient(0deg, rgba(186,193,208,1) 0%, rgba(53,69,105,1) 100%);
}
// .slide{
//   display: none;
// }
main {
  position: relative;
  z-index: 9;
}
section {
  height: 100vh;
  z-index: 9;
}