*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  overscroll-behavior-y: none;
}
body {
  background: rgb(186,193,208);
  background: linear-gradient(0deg, rgba(186,193,208,1) 0%, rgba(53,69,105,1) 100%);
  background-attachment: fixed;
  &.page {
    padding: 2rem 2rem 0;
    section + section {
      margin-top: 4rem;
    }
    section:last-child {
      margin-bottom: 2rem;
    }
  }
  &:not(.page) {
    section {
      height: 100vh;
      z-index: 9;
    }
  }
}
main {
  position: relative;
  z-index: 9;
}

@media screen and (min-width: 1024px) {
  html {
    background: black;
  }
  body {
    max-width: 420px;
    margin: auto;
    position: relative;
    &::before,
    &::after {
      content: '';
      background-color: black;
      height: 100vh;
      position: fixed;
      top: 0;
      width: calc((100% - 420px) / 2);
      z-index: 99;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}